################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PIDTest/bin/Debug
/PIDTest/obj/Debug
/PIDControllerLib
